

  .learn-more-btn {
    color: 'rgba(255, 99, 71, 1) !important'
  }
  
  .particles-bg-canvas-self{
    background-size: cover !important;
    background-position: center;
    background-repeat:no-repeat;
    height: 110vh !important;
  }

  .LandingPage{
    margin-top: 25vh;
  }